<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        pre{
            width: 100%;
            min-height: 5em;
            padding:1em;
            overflow:auto;
            word-break: break-word;
            word-wrap: break-all;
            border: 1px solid #c7c7c7;
            background: #efefef;
            color: #000000;
        }
    </style>
</head>
<body>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1><?php echo $args['title'];?></h1>
                <p><?php echo $args['description'];?></p>

                <pre>
// include file
include 'router.php';
// init router
$App = new Router();
// go to http://localhost/$num
$App->Route('/(:num)',function(int $num = 0){
  echo 'I am number '.$num;
});
// go to http://localhost/$name
$App->Route('/(:any)',function(string $name = ''){
  echo 'I am in '.$name;
});
// go to http://localhost
$App->Route('/',function(){
  echo 'I am in foo';
});
$App->launch();
                </pre>

                <?php
                    $links = array(
                        '/hello',
                        '/hello/10',
                        '/10/2018',
                        '/hello/world',
                        '/json/file/1',
                        '/txt/file/1',
                        '/jpg/image/1',
                    );
                    $html = '';
                    $num = 0;
                    foreach($links as $link){
                        $num = $num + 1;
                        $html .= '<label class="sr-only" for="'.$link.$num.'">'.$link.'</label>
                            <div class="input-group m-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-light">
                                        <a  class="text-primary" href="'.Router::site_url().'/'.$link.'">GET</a>:
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="'.$link.$num.'" placeholder="'.$link.'" disabled/>
                            </div>';
                    }
                    echo $html;
                ?>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
